/*
*
* CUSTOM CSS
*
*/

.box .border-right
{
    border-right:1px solid #D2D6DE !important;
}

.box-footer,.box-body {
    border-top:1px solid #D2D6DE !important;
}

.table tr th{
    text-align:  center !important;
    border:1px solid black !important;
}

#dt_proyek tr td:nth-child(3),#dt_proyek tr td:nth-child(2){
    text-align: left;
}

.table tr td{
    text-align: right;
    border:1px solid black !important;
}

.table tr td:first-child{
    text-align: left;
}
/*
.nav li a{
    height:70px !important;
    line-height:40px;
}*/

